body {
  padding-top: 50px;
  background-color: #2A2637;
  color:white;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#mainPooImg{
  height:200px;
  width: 300px;
  background-repeat: no-repeat;
}

.navbar-inverse{
  background-color: #2A2637;
  border: none;
  color:white;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
    font-weight: bolder;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #2A2637;
     font-weight: bolder;
}
.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
    font-weight: bolder;
}
#imgCont{
  margin-top: 15%;
  
}
#mainText{
    margin-top: 20%;
}
button{
  color: black;
  background-color: #986500;
  border: white 1px solid;
}
#askButtons{
  margin-left: 20%;
  margin-top: 5%;
}
.btn-primary {
    color: #fff;
    background-color: #986500;
    border-color: #986500;
}
#toiletPic{
  height:200px;
  width:150px;
}
#shitPic{
  height:50px;
  width:50px;
}

footer{
  margin-top:20%; 
}
footer> h2{
  display: inline-block;
}

#onYes, #onWater,#onTissue{
  display: none;
   margin-left: 20%;
   margin-top: 5%;
}
#onYes button{
  margin-left:5%;
}
#onNo{
  display: none;
  text-align: center;
   margin-left: 10%;
   
   
}
#onNo h3{
  color: #986500;
  font-weight: bolder;
}

#socialMedia{
  margin-left: 40%;
  text-align: center;
}